name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Instalación de librerías y dependencias
        run: |
          python -m pip install --upgrade pip
          pip install 'SQLAlchemy==1.3.20'
          pip install 'PyQt5==5.15.2'
          pip install 'numpy==1.20.1'
          pip install 'faker==6.5.0'
      - name: pruebas+coverage
        id: pruebas
        run: | 
          python -m unittest discover -s tests -v
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        